{% extends 'base.html.twig' %}

    {% block title %}Engagement de confidentialité{% endblock %}

    {% block header %}
        {% include 'partials/header.html.twig' %}
    {% endblock %}


    {% block content %}

        <div id="contact-page" class="container c2">
            <div class="bg">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="title text-center">ENGAGEMENT DE CONFIDENTIALITÉ <strong></strong></h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-2  col-sm-9">
                        <h2 class="c1"><strong>ENGAGEMENT DE CONFIDENTIALITÉ</strong></h2>
                        <p>
                            la société Auto Car For sale Automobiles est conscient de l’importance d’assurer au quotidien la confidentialité des données personnelles de ses utilisateurs, prospects et clients.
                            <br><br>
                            la société Auto Car For sale Automobiles prend ainsi des engagements forts vis-à-vis de la protection des données et met en place sa politique de protection des données personnelles.
                            <br><br>
                            Cette présente politique a pour objectif de vous informer sur les engagements et mesures pratiques pris par la société Auto Car For sale Automobiles afin de veiller au respect de vos données personnelles. Elle pourra évoluer en fonction du contexte légal et règlementaire.
                        </p>

                        <h2 class="c1"><strong>CHAMP D’APPLICATION DE LA PRÉSENTE POLITIQUE DE PROTECTION DES DONNÉES PERSONNELLES</strong></h2>
                        <p>
                            La présente politique de protection des données personnelles de la société Auto Car For sale Automobiles s’applique à l’ensemble des sites Internet, des applications ainsi qu’à toute autre initiative en ligne appartenant à la société Auto Car For sale Automobiles et/ou partenaires procédant à la collecte de données personnelles (les « Supports techniques et commerciaux »).
                        </p>

                        <h2 class="c1"><strong>RESPONSABLE DE TRAITEMENT</strong></h2>
                        <p>Les données à caractère personnel collectées au travers du site www.autocar4sale.com sont traitées par la société Auto Car For sale Automobiles, Société par action simplifiée au capital social de 18 500 000 €, immatriculée 521 058 410 02658 SIRET : 521 058 410 02658 - APE : 501 Z N° identifiant TVA : BE 62 788 058 410 ;
                            <br>
                            Téléphone : 01 458 228 7045  <br>
                            Coordonnées du Délégué à la protection des données : secure@autocar4sale.com
                        </p>

                        <h2 class="c1"><strong>LES DONNÉES COLLECTÉES</strong></h2>
                        <p>Avec votre consentement préalable, que ce soit en réponse aux formulaires de contact, d’information, de prise de rendez-vous, d’estimation de reprise… ou lorsque vous utilisez nos Supports, nous sommes susceptibles de collecter et de traiter tout ou partie des données suivantes :
                            <ul>
                                <li style="list-style: disc"> Prénom et nom de famille</li>
                                <li style="list-style: disc"> Adresse de courrier électronique</li>
                                <li style="list-style: disc"> Adresse postale</li>
                                <li style="list-style: disc"> Numéro de téléphone</li>
                                <li style="list-style: disc"> Nom de la société / Groupe</li>
                                <li style="list-style: disc"> Poste / fonction occupée</li>
                                <li style="list-style: disc"> Toute demande particulière que vous pourriez nous adresser (principalement pour des besoins d’archivage)</li>
                            </ul>
                        <br>
                        La société Auto Car For sale Automobiles veille à respecter au principe de minimisation et ainsi collecter et traiter uniquement les données nécessaires au regard de la finalité pour laquelle elles sont traitées.
                        </p>

                        <h2 class="c1"><strong>FINALITÉS DU TRAITEMENT</strong></h2>
                        <p>Vos données recueillies via nos formulaires en ligne (contact, prise de rendez-vous, création de compte...) sont collectées et traitées par Auto Car For sale Automobiles afin de pouvoir traiter votre demande.
                            <br><br>
                            L’ensemble des données demandées sont obligatoires afin de pouvoir répondre à votre demande. A défaut nous ne serons pas en mesure de vous recontacter pour vous apporter une réponse.
                            <br><br>
                            Vos données pourront être utilisées, avec votre accord, pour vous adresser des offres sur nos produits et services de la société Auto Car For sale Automobiles.
                            <br><br>
                            Une fois vos données collectées, celles-ci pourront être utilisées dans un intérêt légitime de réalisation d’études et statistiques internes, sous réserve de votre droit d’opposition à une telle utilisation, le cas échéant voir la rubrique « vos droits et recours ».
                            <br><br>
                            Les destinataires de vos données, sont :
                            <br><br>
                            - Les personnes habilitées au sein de la société Auto Car For sale Automobiles qui sont en charge de la gestion de ces traitements. Ceux-ci n’ont accès qu’aux seules données qui leurs sont nécessaires dans le cadre de leurs fonctions.
                            <br><br>
                            - Nos sous-traitants, en charge pour le compte de la société Auto Car For sale Automobiles des opérations de marketing, d’opérations commerciales ou de statistiques et d'étude.
                        </p>

                        <h2 class="c1"><strong>TRANSFERTS</strong></h2>
                        <p>Nous ne procédons à aucun transfert de données à caractère personnel en dehors de l’Union Européenne.
                            <br><br>
                            Les destinataires de vos données, sont : <br><br>
                            - Les personnes habilitées au sein de la société Auto Car For sale Automobiles qui sont en charge de la gestion de ces traitements. Ceux-ci n’ont accès qu’aux seules données qui leurs sont nécessaires dans le cadre de leurs fonctions.
                            <br>
                            - Nos sous-traitants, en charge pour le compte de la société Auto Car For sale Automobiles des opérations de marketing, d’opérations commerciales ou de statistiques et d'étude.
                        </p>

                        <h2 class="c1"><strong>DURÉE DE CONSERVATION</strong></h2>
                        <p>Vos données sont conservées le temps strictement nécessaire afin d'apporter une réponse à votre demande.
                            <br><br>
                            Les données traitées aux fins d’envoi d’emails publicitaires sont conservées pendant une durée de 3 ans à compter de leur collecte ou du dernier contact sauf manifestation d’une opposition de votre part à une telle utilisation.
                        </p>

                        <h2 class="c1"><strong>VOS DROITS ET RECOURS</strong></h2>
                        <p>Vous disposez d’un droit d'accès à vos données, de rectification et d’effacement de vos données personnelles. Vous bénéficiez également d’un droit de limitation du traitement, d’un droit à la portabilité et d’un droit d’opposition.
                            <br><br>
                            Vous pouvez exercer ces droits en nous contactant à l’adresse suivante : <br><br>
                            Auto Car For sale Automobiles
                            Rue Pepin 2-28, 5000
                            Namur, Belgique
                            Email : secure@autocar4sale.com

                            Vous disposez de la possibilité de retirer votre consentement au traitement de vos données aux fins de prospection, et ce à tout moment :

                            - Par le biais d’un lien de désabonnement au sein des emails que vous recevez

                            - En faisant la demande à l’adresse mail : secure@autocar4sale.com

                            Vous disposez, enfin, du droit de définir les directives relatives à la conservation, à l’effacement et à la communication de vos données à caractère personnel après votre décès.

                            Nous ferons le nécessaire pour répondre de manière satisfaisante à vos demandes. Si, pour quelque raison que ce soit, vous considérez que notre réponse n’est pas satisfaisante, nous vous informons que vous pouvez introduire une réclamation auprès de la CNIL.
                        </p>


                        <br><br>

                    </div></div>
            </div>
        </div><!--/#contact-page-->

    {% endblock %}


    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

