{% extends 'base.html.twig' %}

{% block title %}Cookies et mentions légales{% endblock %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}


{% block content %}

    <div id="contact-page" class="container c2">
        <div class="bg">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title text-center">MENTIONS LÉGALES <strong></strong></h2>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2  col-sm-9">
                    <h2 class="c1"><strong>INFORMATIONS SUR LA SOCIÉTÉ</strong></h2>
                    <p>
                        Ce présent site est la propriété de la société Auto Car For sale Automobiles. Siège social : Rue Pepin 2-28, 5000 Namur, Belgique - Tél. : +1 458 228 7045 - Tél. : +33 7 55 98 17 21 - Adresse de courrier électronique : webmaster@autocar4sale.com.
                        <br> <br>
                        S.A. au capital de : 18 500 000 Euros Immatriculée au registre du commerce et des sociétés sous le numéro : 521 058 410 02658 SIRET : 521 058 410 02658 - APE : 501 Z N° identifiant TVA : BE 62 788 058 410

                        <br><br>
                        Hébergeur : OVH – 2 rue Kellermann - 59100 Roubaix
                        Infogérance : Eurower – 45 Avenue Marc Sangnier - 69100 Villeurbanne
                    </p>
                    <h2 class="c1"><strong>CONFIDENTIALITÉ</strong></h2>
                    <p>
                        Les données personnelles et confidentielles que vous nous indiquez lorsque vous renseignez un formulaire sont exclusivement destinées au traitement de votre demande. Ces données ne sauraient être cédées ou louées à des tiers.
                        <br><br>
                        Conformément aux dispositions de l'Art. 34 de la loi " Informatique et Libertés ", vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Nous vous offrons la possibilité d'exercer ce droit en envoyant un mail à webmaster@autocar4sale.com.
                    </p>

<h2 class="c1"><strong>ACCESSIBILITÉ</strong></h2>

<p>
    Le site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure.
    <br><br>
    En cas d’indisponibilité d’accès au site, celui-ci s’engage à faire son maximum afin d’en rétablir l’accès. Le site ne saurait être tenu pour responsable de tout dommage, quelle qu’en soit la nature, résultant de son indisponibilité. En conséquence, l’utilisateur reconnaı̂t utiliser ces informations sous sa responsabilité exclusive.
</p>

                    <h2 class="c1"><strong>PROPRIÉTÉ INTELLECTUELLE</strong></h2>

<p>
    Les contenus de ce site (structure, design, texte, image, animation, logo) sont la propriété exclusive la société Auto Car For sale Automobiles. Toute représentation totale ou partielle de ce site est soumise à l’autorisation préalable, écrite et expresse la société Auto Car For sale Automobiles.
</p>

                    <h2 class="c1"><strong>DONNÉES PERSONNELLES</strong></h2>

<p>
    D’une façon générale, l’utilisateur peut visiter le site autocar4sale.com sur internet sans avoir à décliner son identité et à fournir des informations personnelles. Toutefois, il est possible que la société Auto Car For sale Automobiles puisse demander des informations aux utilisateurs. Par exemple, pour traiter une commande, établir une correspondance, fournir un abonnement, soumettre une candidature ou tout simplement pour conclure une transaction ou offrir un meilleur service.
    <br><br>
    Vous pouvez consulter <a class="c1 s1" href="{{ path('confidentialite') }}">notre politique de protection des données</a> relatifs à la collecte et aux traitements des données.
</p>

                    <h2 class="c1"><strong>UTILISATION DES COOKIES</strong></h2>

                    <p>
                        Le site autocar4sale.com peut éventuellement avoir recours aux techniques de « cookies » lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d’améliorer le service pour le confort de l’utilisateur. Conformément à la législation européenne, le site de la société Auto Car For sale Automobiles a mis à jour
                        <a class="c1 s1" href="{{ path('confidentialite') }}">sa politique de confidentialité en matière de cookies</a> . L’utilisateur est libre d’accepter ou de refuser les cookies de tous les sites internet en modifiant les paramè tres de son navigateur internet.
                    </p>

                    <h2 class="c1"><strong>RÉCLAMATIONS MÉDIATION</strong></h2>

                    <p>
                        Le paragraphe suivant s'applique dans le cadre d'une vente d'un véhicule sous contrat dela société Auto Car For sale Automobiles.
                        <br><br>
                        Toute réclamation en lien avec l'application du contrat doit être adressée selon sa nature au service clients de Auto Car For sale Automobiles si vous avez la qualité de consommateur au sens du Code de la consommation et que vous n'avez pas obtenu de réponse satisfaisante à votre réclamation ou en l'absence de réponse dans un délai d'un mois vous avez la possibilité de saisir:
 <ul>
    <li>
        <i class="c1 s1 fa fa-hand-o-right"></i> Le médiateur du conseil des professions de l'automobile (CNPA) par courrier à l'adresse suivante 50 rue Rouget de l'Isle 92158 Suresnes Cedex ou sur son site internet www.Médiateur-CNPA.fr
    </li>
                        <li>
                            <i class="c1 s1 fa fa-hand-o-right"></i> Ou le médiateur auprès de la FNAA par courrier à l'adresse suivante immeuble axe Nord 911 avenue Michelet 93583 Saint-Ouen Cedex ou sur le site internet
                            <a class="c1 s1" href="www.fna.fr">www.fna.fr</a> (service service consommateur médiateur FNAA)
                        </li>
                        <li>
                            <i class="c1 s1 fa fa-hand-o-right"></i> Soit le médiateur de Auto Car For sale Automobiles compétent pour traiter les litiges relevant de sa responsabilité (ex: la qualité d'une pièce fourni) en le sollicitant par courrier à l'adresse suivante médiation cmfm, 21 rue des malmaisons, 75013 Paris, ou sur son site internet
                            <a class="c1 s1" href="">www.médiationcmfm.fr</a> si vous résidez au sein de l'Union européenne, vous avez également la possibilité notamment et principalement pour les réclamations en lien avec un achat en ligne, de recourir à la plateforme de règlement en ligne des litiges pour les services fournis par les entreprises de l'Union européenne (la plateforme ODR), mise à la disposition de tous les citoyens européens par la commission européenne, en cliquant sur le lien suivant
                            <a class="c1 s1" href="http://ex.europa.eu/consumer/odr">http://ex.europa.eu/consumer/odr</a>
                        </li>
 </ul>
                    </p>


                    <br><br>

                </div></div>
        </div>
    </div><!--/#contact-page-->

{% endblock %}


{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}